yahooquery==2.3.7
CurrencyConverter==0.17.23
gpt-researcher
streamlit==1.37.0
numpy==1.26.4
pandas==2.0.3
pymupdf
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google.auth
openai
seleniumbase
webdriver-manager
selenium