yahooquery==2.3.7
CurrencyConverter==0.17.23
gpt-researcher==0.7.0
streamlit
numpy==1.26.4
pandas==2.0.3
pymupdf
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google.auth
openai
streamlit
seleniumbase
webdriver-manager
